# Dependencies
/vendor/
composer.lock

# Environment
.env
.env.*
!.env.example

# Cache and logs
/storage/cache/*
/storage/logs/*
/storage/uploads/*
!storage/cache/.gitkeep
!storage/logs/.gitkeep
!storage/uploads/.gitkeep

# IDE and Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store
Thumbs.db

# Adicionais
/storage/*.key
package-lock.json 